<a href="https://www.kaggle.com/code/stpeteishii/fifa20-create-database-w-crud?scriptVersionId=218782377" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

# FIFA20 Create Database w/CRUD

In [1]:
import numpy as np
import pandas as pd
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/fifa-20-complete-player-dataset/players_15.csv
/kaggle/input/fifa-20-complete-player-dataset/players_16.csv
/kaggle/input/fifa-20-complete-player-dataset/players_17.csv
/kaggle/input/fifa-20-complete-player-dataset/players_18.csv
/kaggle/input/fifa-20-complete-player-dataset/players_19.csv
/kaggle/input/fifa-20-complete-player-dataset/teams_and_leagues.csv
/kaggle/input/fifa-20-complete-player-dataset/players_20.csv

# Prepare DataFrame from CSV

In [2]:
player0=pd.read_csv('../input/fifa-20-complete-player-dataset/players_20.csv')
player0[0:2].T

,0,1
sofifa_id,158023,20801
player_url,https://sofifa.com/player/158023/lionel-messi/...,https://sofifa.com/player/20801/c-ronaldo-dos-...
short_name,L. Messi,Cristiano Ronaldo
long_name,Lionel Andrés Messi Cuccittini,Cristiano Ronaldo dos Santos Aveiro
age,32,34
...,...,...
lb,63+2,61+3
lcb,52+2,53+3
cb,52+2,53+3
rcb,52+2,53+3
rb,63+2,61+3

In [3]:
# L. Messi
print(player0.iloc[0,1])
print()
player0[player0['short_name']=='L. Messi']

https://sofifa.com/player/158023/lionel-messi/20/159586

,sofifa_id,player_url,short_name,long_name,age,dob,height_cm,weight_kg,nationality,club,...,lwb,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb
0,158023,https://sofifa.com/player/158023/lionel-messi/...,L. Messi,Lionel Andrés Messi Cuccittini,32,1987-06-24,170,72,Argentina,FC Barcelona,...,68+2,66+2,66+2,66+2,68+2,63+2,52+2,52+2,52+2,63+2

![https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210910103403-lionel-messi-argentina-bolivia.jpg](https://dynaimage.cdn.cnn.com/cnn/c_fill,g_auto,w_1200,h_675,ar_16:9/https%3A%2F%2Fcdn.cnn.com%2Fcnnnext%2Fdam%2Fassets%2F210910103403-lionel-messi-argentina-bolivia.jpg)

In [4]:
print(len(player0))
print(player0.columns.tolist())

18278
['sofifa_id', 'player_url', 'short_name', 'long_name', 'age', 'dob', 'height_cm', 'weight_kg', 'nationality', 'club', 'overall', 'potential', 'value_eur', 'wage_eur', 'player_positions', 'preferred_foot', 'international_reputation', 'weak_foot', 'skill_moves', 'work_rate', 'body_type', 'real_face', 'release_clause_eur', 'player_tags', 'team_position', 'team_jersey_number', 'loaned_from', 'joined', 'contract_valid_until', 'nation_position', 'nation_jersey_number', 'pace', 'shooting', 'passing', 'dribbling', 'defending', 'physic', 'gk_diving', 'gk_handling', 'gk_kicking', 'gk_reflexes', 'gk_speed', 'gk_positioning', 'player_traits', 'attacking_crossing', 'attacking_finishing', 'attacking_heading_accuracy', 'attacking_short_passing', 'attacking_volleys', 'skill_dribbling', 'skill_curve', 'skill_fk_accuracy', 'skill_long_passing', 'skill_ball_control', 'movement_acceleration', 'movement_sprint_speed', 'movement_agility', 'movement_reactions', 'movement_balance', 'power_shot_power', 'power_jumping', 'power_stamina', 'power_strength', 'power_long_shots', 'mentality_aggression', 'mentality_interceptions', 'mentality_positioning', 'mentality_vision', 'mentality_penalties', 'mentality_composure', 'defending_marking', 'defending_standing_tackle', 'defending_sliding_tackle', 'goalkeeping_diving', 'goalkeeping_handling', 'goalkeeping_kicking', 'goalkeeping_positioning', 'goalkeeping_reflexes', 'ls', 'st', 'rs', 'lw', 'lf', 'cf', 'rf', 'rw', 'lam', 'cam', 'ram', 'lm', 'lcm', 'cm', 'rcm', 'rm', 'lwb', 'ldm', 'cdm', 'rdm', 'rwb', 'lb', 'lcb', 'cb', 'rcb', 'rb']

In [5]:
player=player0[0:100]
print(len(player))

100

# Import SQLAlchemy to Create Database
https://github.com/sqlalchemy/sqlalchemy

In [6]:
!pip3 install sqlalchemy

Requirement already satisfied: sqlalchemy in /opt/conda/lib/python3.7/site-packages (1.4.22)
Requirement already satisfied: importlib-metadata in /opt/conda/lib/python3.7/site-packages (from sqlalchemy) (3.4.0)
Requirement already satisfied: greenlet!=0.4.17 in /opt/conda/lib/python3.7/site-packages (from sqlalchemy) (1.1.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (3.7.4.3)
Requirement already satisfied: zipp>=0.5 in /opt/conda/lib/python3.7/site-packages (from importlib-metadata->sqlalchemy) (3.5.0)
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [7]:
from sqlalchemy import create_engine
from sqlalchemy.orm import scoped_session, sessionmaker
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column,Integer,Float,String
from sqlalchemy import desc, asc

In [8]:
#!rm data.db

In [9]:
database_file=os.path.join(os.path.abspath(os.getcwd()),'data.db')
database_file

'/kaggle/working/data.db'

In [10]:
engine=create_engine('sqlite:///'+database_file,convert_unicode=True,echo=True)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:1: SADeprecationWarning: The create_engine.convert_unicode parameter and corresponding dialect-level parameters are deprecated, and will be removed in a future release.  Modern DBAPIs support Python Unicode natively and this parameter is unnecessary.
  """Entry point for launching an IPython kernel.

In [11]:
db_session=scoped_session(
    sessionmaker(
        autocommit=False,
        autoflush=False,
        bind=engine
))

In [12]:
Base=declarative_base()
Base.query=db_session.query_property()

In [13]:
class FIFA(Base):
    __tablename__='player'
    id=Column(Integer,primary_key=True)
    short_name=Column(String(255),unique=False)
    age=Column(Integer,unique=False)
    nationality=Column(String(255),unique=False)
    club=Column(String(255),unique=False)
    
    def __int__(self,id=None,long_name=None,age=None,nationality=None,club=None):
        self.id=id
        self.short_name=long_name
        self.age=age
        self.nationality=nationality
        self.club=club

In [14]:
Base.metadata.create_all(bind=engine)

2025-01-22 14:36:03,690 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 14:36:03,692 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("player")
2025-01-22 14:36:03,693 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 14:36:03,695 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("player")
2025-01-22 14:36:03,696 INFO sqlalchemy.engine.Engine [raw sql] ()
2025-01-22 14:36:03,699 INFO sqlalchemy.engine.Engine
CREATE TABLE player (
	id INTEGER NOT NULL,
	short_name VARCHAR(255),
	age INTEGER,
	nationality VARCHAR(255),
	club VARCHAR(255),
	PRIMARY KEY (id)
)


2025-01-22 14:36:03,700 INFO sqlalchemy.engine.Engine [no key 0.00111s] ()
2025-01-22 14:36:03,717 INFO sqlalchemy.engine.Engine COMMIT

In [15]:
def read_data():

    for index,_df in player.iterrows():
        row=FIFA(short_name=_df['short_name'],age=_df['age'],nationality=_df['nationality'],club=_df['club'])
        db_session.add(row)
        
    db_session.commit()

In [16]:
read_data()

2025-01-22 14:36:03,842 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 14:36:03,847 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,848 INFO sqlalchemy.engine.Engine [generated in 0.00151s] ('L. Messi', 32, 'Argentina', 'FC Barcelona')
2025-01-22 14:36:03,850 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,851 INFO sqlalchemy.engine.Engine [cached since 0.004279s ago] ('Cristiano Ronaldo', 34, 'Portugal', 'Juventus')
2025-01-22 14:36:03,853 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,854 INFO sqlalchemy.engine.Engine [cached since 0.006791s ago] ('Neymar Jr', 27, 'Brazil', 'Paris Saint-Germain')
2025-01-22 14:36:03,855 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,856 INFO sqlalchemy.engine.Engine [cached since 0.009068s ago] ('J. Oblak', 26, 'Slovenia', 'Atlético Madrid')
2025-01-22 14:36:03,858 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,859 INFO sqlalchemy.engine.Engine [cached since 0.01195s ago] ('E. Hazard', 28, 'Belgium', 'Real Madrid')
2025-01-22 14:36:03,860 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,862 INFO sqlalchemy.engine.Engine [cached since 0.01504s ago] ('K. De Bruyne', 28, 'Belgium', 'Manchester City')
2025-01-22 14:36:03,863 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,864 INFO sqlalchemy.engine.Engine [cached since 0.0169s ago] ('M. ter Stegen', 27, 'Germany', 'FC Barcelona')
2025-01-22 14:36:03,865 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,866 INFO sqlalchemy.engine.Engine [cached since 0.01913s ago] ('V. van Dijk', 27, 'Netherlands', 'Liverpool')
2025-01-22 14:36:03,867 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,868 INFO sqlalchemy.engine.Engine [cached since 0.02152s ago] ('L. Modrić', 33, 'Croatia', 'Real Madrid')
2025-01-22 14:36:03,870 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,871 INFO sqlalchemy.engine.Engine [cached since 0.02389s ago] ('M. Salah', 27, 'Egypt', 'Liverpool')
2025-01-22 14:36:03,872 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,873 INFO sqlalchemy.engine.Engine [cached since 0.02597s ago] ('K. Mbappé', 20, 'France', 'Paris Saint-Germain')
2025-01-22 14:36:03,874 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,875 INFO sqlalchemy.engine.Engine [cached since 0.02795s ago] ('K. Koulibaly', 28, 'Senegal', 'Napoli')
2025-01-22 14:36:03,876 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,877 INFO sqlalchemy.engine.Engine [cached since 0.02978s ago] ('H. Kane', 25, 'England', 'Tottenham Hotspur')
2025-01-22 14:36:03,878 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,878 INFO sqlalchemy.engine.Engine [cached since 0.03167s ago] ('Alisson', 26, 'Brazil', 'Liverpool')
2025-01-22 14:36:03,882 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,882 INFO sqlalchemy.engine.Engine [cached since 0.03571s ago] ('De Gea', 28, 'Spain', 'Manchester United')
2025-01-22 14:36:03,884 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,885 INFO sqlalchemy.engine.Engine [cached since 0.03873s ago] ('N. Kanté', 28, 'France', 'Chelsea')
2025-01-22 14:36:03,887 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,888 INFO sqlalchemy.engine.Engine [cached since 0.04079s ago] ('G. Chiellini', 34, 'Italy', 'Juventus')
2025-01-22 14:36:03,890 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,891 INFO sqlalchemy.engine.Engine [cached since 0.04399s ago] ('S. Agüero', 31, 'Argentina', 'Manchester City')
2025-01-22 14:36:03,892 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,893 INFO sqlalchemy.engine.Engine [cached since 0.04649s ago] ('Sergio Ramos', 33, 'Spain', 'Real Madrid')
2025-01-22 14:36:03,895 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,896 INFO sqlalchemy.engine.Engine [cached since 0.04929s ago] ('L. Suárez', 32, 'Uruguay', 'FC Barcelona')
2025-01-22 14:36:03,898 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,899 INFO sqlalchemy.engine.Engine [cached since 0.0525s ago] ('R. Lewandowski', 30, 'Poland', 'FC Bayern München')
2025-01-22 14:36:03,901 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,902 INFO sqlalchemy.engine.Engine [cached since 0.05516s ago] ('Sergio Busquets', 30, 'Spain', 'FC Barcelona')
2025-01-22 14:36:03,904 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,905 INFO sqlalchemy.engine.Engine [cached since 0.05783s ago] ('A. Griezmann', 28, 'France', 'FC Barcelona')
2025-01-22 14:36:03,906 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,907 INFO sqlalchemy.engine.Engine [cached since 0.06027s ago] ('P. Dybala', 25, 'Argentina', 'Juventus')
2025-01-22 14:36:03,908 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,909 INFO sqlalchemy.engine.Engine [cached since 0.06239s ago] ('P. Pogba', 26, 'France', 'Manchester United')
2025-01-22 14:36:03,910 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,912 INFO sqlalchemy.engine.Engine [cached since 0.06503s ago] ('Ederson', 25, 'Brazil', 'Manchester City')
2025-01-22 14:36:03,916 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,917 INFO sqlalchemy.engine.Engine [cached since 0.07019s ago] ('R. Sterling', 24, 'England', 'Manchester City')
2025-01-22 14:36:03,918 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,919 INFO sqlalchemy.engine.Engine [cached since 0.07245s ago] ('C. Eriksen', 27, 'Denmark', 'Tottenham Hotspur')
2025-01-22 14:36:03,921 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,922 INFO sqlalchemy.engine.Engine [cached since 0.0753s ago] ('T. Courtois', 27, 'Belgium', 'Real Madrid')
2025-01-22 14:36:03,923 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,924 INFO sqlalchemy.engine.Engine [cached since 0.0777s ago] ('Piqué', 32, 'Spain', 'FC Barcelona')
2025-01-22 14:36:03,926 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,928 INFO sqlalchemy.engine.Engine [cached since 0.08089s ago] ('S. Handanovič', 34, 'Slovenia', 'Inter')
2025-01-22 14:36:03,929 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,930 INFO sqlalchemy.engine.Engine [cached since 0.08301s ago] ('M. Neuer', 33, 'Germany', 'FC Bayern München')
2025-01-22 14:36:03,932 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,933 INFO sqlalchemy.engine.Engine [cached since 0.08586s ago] ('H. Lloris', 32, 'France', 'Tottenham Hotspur')
2025-01-22 14:36:03,934 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,935 INFO sqlalchemy.engine.Engine [cached since 0.0879s ago] ('David Silva', 33, 'Spain', 'Manchester City')
2025-01-22 14:36:03,936 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,937 INFO sqlalchemy.engine.Engine [cached since 0.09024s ago] ('E. Cavani', 32, 'Uruguay', 'Paris Saint-Germain')
2025-01-22 14:36:03,938 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,939 INFO sqlalchemy.engine.Engine [cached since 0.09232s ago] ('D. Godín', 33, 'Uruguay', 'Inter')
2025-01-22 14:36:03,940 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,941 INFO sqlalchemy.engine.Engine [cached since 0.09415s ago] ('T. Kroos', 29, 'Germany', 'Real Madrid')
2025-01-22 14:36:03,944 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,945 INFO sqlalchemy.engine.Engine [cached since 0.09806s ago] ('M. Reus', 30, 'Germany', 'Borussia Dortmund')
2025-01-22 14:36:03,946 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,947 INFO sqlalchemy.engine.Engine [cached since 0.1005s ago] ('P. Aubameyang', 30, 'Gabon', 'Arsenal')
2025-01-22 14:36:03,948 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,950 INFO sqlalchemy.engine.Engine [cached since 0.1032s ago] ('S. Mané', 27, 'Senegal', 'Liverpool')
2025-01-22 14:36:03,951 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,952 INFO sqlalchemy.engine.Engine [cached since 0.1052s ago] ('A. Laporte', 25, 'France', 'Manchester City')
2025-01-22 14:36:03,953 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,954 INFO sqlalchemy.engine.Engine [cached since 0.1072s ago] ('Bernardo Silva', 24, 'Portugal', 'Manchester City')
2025-01-22 14:36:03,956 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,957 INFO sqlalchemy.engine.Engine [cached since 0.1104s ago] ('Casemiro', 27, 'Brazil', 'Real Madrid')
2025-01-22 14:36:03,958 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,959 INFO sqlalchemy.engine.Engine [cached since 0.1123s ago] ('H. Son', 26, 'Korea Republic', 'Tottenham Hotspur')
2025-01-22 14:36:03,961 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,962 INFO sqlalchemy.engine.Engine [cached since 0.1151s ago] ('Fernandinho', 34, 'Brazil', 'Manchester City')
2025-01-22 14:36:03,963 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,964 INFO sqlalchemy.engine.Engine [cached since 0.1176s ago] ('Thiago Silva', 34, 'Brazil', 'Paris Saint-Germain')
2025-01-22 14:36:03,966 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,967 INFO sqlalchemy.engine.Engine [cached since 0.1202s ago] ('K. Benzema', 31, 'France', 'Real Madrid')
2025-01-22 14:36:03,969 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,969 INFO sqlalchemy.engine.Engine [cached since 0.1226s ago] ('J. Vertonghen', 32, 'Belgium', 'Tottenham Hotspur')
2025-01-22 14:36:03,971 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,972 INFO sqlalchemy.engine.Engine [cached since 0.125s ago] ('D. Mertens', 32, 'Belgium', 'Napoli')
2025-01-22 14:36:03,974 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,975 INFO sqlalchemy.engine.Engine [cached since 0.128s ago] ('M. Hummels', 30, 'Germany', 'Borussia Dortmund')
2025-01-22 14:36:03,976 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,977 INFO sqlalchemy.engine.Engine [cached since 0.13s ago] ('T. Alderweireld', 30, 'Belgium', 'Tottenham Hotspur')
2025-01-22 14:36:03,979 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,979 INFO sqlalchemy.engine.Engine [cached since 0.1327s ago] ('Jordi Alba', 30, 'Spain', 'FC Barcelona')
2025-01-22 14:36:03,981 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,982 INFO sqlalchemy.engine.Engine [cached since 0.1349s ago] ('Thiago', 28, 'Spain', 'FC Bayern München')
2025-01-22 14:36:03,984 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,984 INFO sqlalchemy.engine.Engine [cached since 0.1376s ago] ('K. Navas', 32, 'Costa Rica', 'Real Madrid')
2025-01-22 14:36:03,985 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,986 INFO sqlalchemy.engine.Engine [cached since 0.1396s ago] ('L. Insigne', 28, 'Italy', 'Napoli')
2025-01-22 14:36:03,988 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,989 INFO sqlalchemy.engine.Engine [cached since 0.1418s ago] ('L. Sané', 23, 'Germany', 'Manchester City')
2025-01-22 14:36:03,991 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,992 INFO sqlalchemy.engine.Engine [cached since 0.1454s ago] ('Marquinhos', 25, 'Brazil', 'Paris Saint-Germain')
2025-01-22 14:36:03,993 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,994 INFO sqlalchemy.engine.Engine [cached since 0.1473s ago] ('M. Škriniar', 24, 'Slovakia', 'Inter')
2025-01-22 14:36:03,995 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:03,997 INFO sqlalchemy.engine.Engine [cached since 0.1507s ago] ('M. Verratti', 26, 'Italy', 'Paris Saint-Germain')
2025-01-22 14:36:03,999 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,000 INFO sqlalchemy.engine.Engine [cached since 0.1534s ago] ('S. Umtiti', 25, 'France', 'FC Barcelona')
2025-01-22 14:36:04,001 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,002 INFO sqlalchemy.engine.Engine [cached since 0.1555s ago] ('W. Szczęsny', 29, 'Poland', 'Juventus')
2025-01-22 14:36:04,004 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,005 INFO sqlalchemy.engine.Engine [cached since 0.1584s ago] ('J. Kimmich', 24, 'Germany', 'FC Bayern München')
2025-01-22 14:36:04,007 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,009 INFO sqlalchemy.engine.Engine [cached since 0.162s ago] ('Isco', 27, 'Spain', 'Real Madrid')
2025-01-22 14:36:04,010 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,011 INFO sqlalchemy.engine.Engine [cached since 0.1646s ago] ('Roberto Firmino', 27, 'Brazil', 'Liverpool')
2025-01-22 14:36:04,013 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,014 INFO sqlalchemy.engine.Engine [cached since 0.1671s ago] ('I. Rakitić', 31, 'Croatia', 'FC Barcelona')
2025-01-22 14:36:04,016 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,017 INFO sqlalchemy.engine.Engine [cached since 0.1699s ago] ('M. Pjanić', 29, 'Bosnia Herzegovina', 'Juventus')
2025-01-22 14:36:04,018 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,018 INFO sqlalchemy.engine.Engine [cached since 0.1717s ago] ('A. Di María', 31, 'Argentina', 'Paris Saint-Germain')
2025-01-22 14:36:04,020 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,021 INFO sqlalchemy.engine.Engine [cached since 0.1747s ago] ('L. Bonucci', 32, 'Italy', 'Juventus')
2025-01-22 14:36:04,023 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,023 INFO sqlalchemy.engine.Engine [cached since 0.1767s ago] ('Coutinho', 27, 'Brazil', 'FC Bayern München')
2025-01-22 14:36:04,025 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,026 INFO sqlalchemy.engine.Engine [cached since 0.1793s ago] ('Parejo', 30, 'Spain', 'Valencia CF')
2025-01-22 14:36:04,028 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,028 INFO sqlalchemy.engine.Engine [cached since 0.1817s ago] ('T. Müller', 29, 'Germany', 'FC Bayern München')
2025-01-22 14:36:04,030 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,031 INFO sqlalchemy.engine.Engine [cached since 0.1838s ago] ('C. Immobile', 29, 'Italy', 'Lazio')
2025-01-22 14:36:04,032 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,033 INFO sqlalchemy.engine.Engine [cached since 0.1864s ago] ('A. Lacazette', 28, 'France', 'Arsenal')
2025-01-22 14:36:04,034 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,035 INFO sqlalchemy.engine.Engine [cached since 0.1883s ago] ('M. de Ligt', 19, 'Netherlands', 'Juventus')
2025-01-22 14:36:04,037 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,038 INFO sqlalchemy.engine.Engine [cached since 0.1915s ago] ('G. Donnarumma', 20, 'Italy', 'Milan')
2025-01-22 14:36:04,039 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,040 INFO sqlalchemy.engine.Engine [cached since 0.1935s ago] ('F. de Jong', 22, 'Netherlands', 'FC Barcelona')
2025-01-22 14:36:04,041 INFO sqlalchemy.engine.Engine INSERT INTO player (short_name, age, nationality, club) VALUES (?, ?, ?, ?)
2025-01-22 14:36:04,042 INFO sqlalchemy.engine.Engine [cached since 0.1956s ago] ('R. Varane', 26, 'France', 'Real Madrid')

# CRUD operation sample
CRUD: create, read, update and delete

In [17]:
db=db_session.query(FIFA).filter(FIFA.short_name=='L. Messi').all()
print()
for row in db:
    print(row.id,row.short_name,row.age)

2025-01-22 14:36:04,410 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2025-01-22 14:36:04,414 INFO sqlalchemy.engine.Engine SELECT player.id AS player_id, player.short_name AS player_short_name, player.age AS player_age, player.nationality AS player_nationality, player.club AS player_club
FROM player
WHERE player.short_name = ?
2025-01-22 14:36:04,415 INFO sqlalchemy.engine.Engine [generated in 0.00153s] ('L. Messi',)

1 L. Messi 32

In [18]:
db=db_session.query(FIFA).order_by(desc(FIFA.age)).all()
print()
for i,row in enumerate(db):
    if i<10:
        print(row.id,row.short_name,row.age)

2025-01-22 14:36:04,572 INFO sqlalchemy.engine.Engine SELECT player.id AS player_id, player.short_name AS player_short_name, player.age AS player_age, player.nationality AS player_nationality, player.club AS player_club
FROM player ORDER BY player.age DESC
2025-01-22 14:36:04,574 INFO sqlalchemy.engine.Engine [generated in 0.00214s] ()

97 Z. Ibrahimović 37
2 Cristiano Ronaldo 34
17 G. Chiellini 34
31 S. Handanovič 34
45 Fernandinho 34
46 Thiago Silva 34
9 L. Modrić 33
19 Sergio Ramos 33
32 M. Neuer 33
34 David Silva 33

# Import Sqlite3 to Convert Database to DataFrame

In [19]:
import sqlite3

In [20]:
conn = sqlite3.connect(r'./data.db')
conn

In [21]:
query = 'SELECT SHORT_NAME,AGE,NATIONALITY,CLUB FROM PLAYER'
db0 = pd.read_sql_query(query,conn)
db0

           short_name  age nationality                 club
0            L. Messi   32   Argentina         FC Barcelona
1   Cristiano Ronaldo   34    Portugal             Juventus
2           Neymar Jr   27      Brazil  Paris Saint-Germain
3            J. Oblak   26    Slovenia      Atlético Madrid
4           E. Hazard   28     Belgium          Real Madrid
..                ...  ...         ...                  ...
95          H. Ziyech   26     Morocco                 Ajax
96     Z. Ibrahimović   37      Sweden            LA Galaxy
97           A. Gómez   31   Argentina             Atalanta
98         G. Higuaín   31   Argentina             Juventus
99         B. Matuidi   32      France             Juventus

[100 rows x 4 columns]

In [22]:
db0[db0['short_name']=='L. Messi']

  short_name  age nationality          club
0   L. Messi   32   Argentina  FC Barcelona

In [23]:
#!rm data.db